[Unit]
Description=Set autologin to gamescope on logout
PartOf=graphical-session.target
After=graphical-session.target
ConditionPathExists=!%t/gamescope-environment

[Service]
Type=oneshot
ExecStart=/usr/bin/pkexec /usr/lib/steamos/steam-set-session gnome

[Install]
WantedBy=graphical-session.target
